<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="patients-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="patients-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="patients-gender-<%%VALUE(id)%%>" class=""><%%VALUE(gender)%%></td>
		<td id="patients-sexual_orientation-<%%VALUE(id)%%>" class=""><%%VALUE(sexual_orientation)%%></td>
		<td id="patients-age-<%%VALUE(id)%%>" class="text-right"><%%VALUE(age)%%></td>
		<td id="patients-image-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(image)%%>" data-lightbox="patients-image"><img src="thumbnail.php?i=<%%VALUE(image)%%>&t=patients&f=image&v=tv" class="img-thumbnail"></a></td>
		<td id="patients-state-<%%VALUE(id)%%>" class=""><%%VALUE(state)%%></td>
		<td id="patients-mobile-<%%VALUE(id)%%>" class=""><%%VALUE(mobile)%%></td>
		<td id="patients-tobacco_usage-<%%VALUE(id)%%>" class=""><%%VALUE(tobacco_usage)%%></td>
		<td id="patients-alcohol_intake-<%%VALUE(id)%%>" class=""><%%VALUE(alcohol_intake)%%></td>
		<td id="patients-history-<%%VALUE(id)%%>" class=""><%%VALUE(history)%%></td>
		<td id="patients-surgical_history-<%%VALUE(id)%%>" class=""><%%VALUE(surgical_history)%%></td>
		<td id="patients-obstetric_history-<%%VALUE(id)%%>" class=""><%%VALUE(obstetric_history)%%></td>
		<td id="patients-genetic_diseases-<%%VALUE(id)%%>" class=""><%%VALUE(genetic_diseases)%%></td>
