<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="patient_visits-patient-<%%VALUE(id)%%>" class=""><%%VALUE(patient)%%></td>
		<td id="patient_visits-type_of_visit-<%%VALUE(id)%%>" class=""><%%VALUE(type_of_visit)%%></td>
		<td id="patient_visits-prescription-<%%VALUE(id)%%>" class=""><%%VALUE(prescription)%%></td>
		<td id="patient_visits-diagnosis-<%%VALUE(id)%%>" class=""><%%VALUE(diagnosis)%%></td>
		<td id="patient_visits-comments-<%%VALUE(id)%%>" class=""><%%VALUE(comments)%%></td>
